BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
BreakBeforeBraces: Allman
AllowShortBlocksOnASingleLine: Never
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlignAfterOpenBracket: Align
BinPackArguments: false
BinPackParameters: false
DerivePointerAlignment: false
PointerAlignment: Right
IncludeBlocks: Preserve
SortIncludes: false
IndentPPDirectives: None
ReflowComments: false
SpaceBeforeParens: ControlStatements
SpacesInContainerLiterals: false
