# Set these as local environment variables before opening VS Code.
# Do not commit your machine-specific .env file.
CMAKE_ROOT=
NINJA_ROOT=
DUALECU_HOST_CC=
F407_ARM_GCC_ROOT=
ARM_GCC_ROOT=
JLINK_ROOT=
OPENOCD_ROOT=
OPENOCD_SCRIPTS=
SYSCONFIG_ROOT=
MSPM0_SDK_ROOT=
